@page
@model SelfCare.Pages.Practitioner.PatientsModel
@{
    <style>
        .patientContainer {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;
            border: 2px solid #ccc;
            border-radius: 10px;
            transition: box-shadow 0.3s ease-in-out;
        }

            .patientContainer:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

        .fieldLabel{
            font-weight:bold;
            padding-right:5px !important;
        }

        .patientBox {
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: black !important;
            width: 100%;
            position: relative;
        }

            .patientBox h1,
            .patientBox span,
            .patientBox b {
                margin: 0;
                padding: 0;
                font-family: 'OpenDyslexic', cursive, sans-serif !important;
            }

        .hovertip {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .patientBox:hover .hovertip {
            display: block !important;

        }

        .deleteButton form {
            display: inline-block !important;
            vertical-align: middle !important;
        }

            .deleteButton form button {
                background-color: #ff6666 !important;
                color: #fff !important;
                padding: 10px 20px !important;
                border: none !important;
                border-radius: 5px !important;
                transition: background-color 0.3s ease-in-out !important;
            }

                .deleteButton form button:hover {
                    background-color: #ff4d4d !important;
                }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(5, 34, 33, 0.8);
        }

        .modal-content {
            font-family: "OpenDyslexic", sans-serif;
            background-color: #d5e3e3;
            margin: 15% auto;
            padding: 20px;
            border: 2px solid #888;
            border-radius: 10px;
            width: 280px;
        }

        .modal-content button{
            margin:10px;
        }
    </style>
    <div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <p>Are you sure you want to delete?</p>
                <button id="confirmYes">Yes</button>
                <button id="confirmNo">No</button>
            </div>
        </div>
        @foreach (var patient in Model.Patients)
        {
            <div class="patientContainer">
                <a class="patientBox" href="/practitioner/patientview/@patient.PatientId">
                    <div style="display: flex; align-items: center;">
                        <span style="font-size: 3em;">
                            @patient.FirstName @patient.LastName
                        </span>
                        <span style="margin-left:10px">- Created @patient.DateCreated</span>
                    </div>
                    <br />
                    @if (patient.Gp != null)
                        {
                        <div style="margin-right:30px;display:inline"><span class="fieldLabel">GP's Name:</span><span>@patient.Gp.Name</span></div>
                        <div style="margin-right:30px;display:inline"><span class="fieldLabel">GP's ID:</span><span>@patient.Gpid</span></div>
                        }
                        
                    <p>
                        <span class="fieldLabel">PostCode:</span> @patient.PostCode
                        <span class="fieldLabel" style="margin-left:20px">Address:</span> @patient.Address1 @patient.Address2 @patient.Address3
                        <span class="fieldLabel" style="margin-left:20px">Town:</span> @patient.Town
                        <span class="fieldLabel" style="margin-left:20px">County:</span> @patient.County
                        <span class="fieldLabel" style="margin-left:20px">Country:</span> @patient.Country
                    </p>
                    <div class="hovertip">
                        View @patient.FirstName's Notes
                    </div>
                </a>
                <div class="deleteButton">
                    <form id="deleteForm_@patient.PatientId" method="post" asp-page-handler="DeletePatient">
                        <input type="hidden" name="patientid" value="@patient.PatientId" />
                        <input type="hidden" name="patientname" value="@patient.FirstName @patient.LastName" />
                        <button id="deleteButton_@patient.PatientId" type="button" data-formid="@patient.PatientId" >Delete</button>
                    </form>
                </div>
            </div>
        }
    </div>

    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }

    <script type="text/javascript">
        window.onload = function () {
        @foreach (var patient in Model.Patients)
        {
            <text>
                    document.getElementById("deleteButton_@patient.PatientId").addEventListener("click", function () {
                        document.getElementById("modal").style.display = "block";
                        debugger;
                        var formId = this.getAttribute("data-formid");
                        
                        document.getElementById("confirmYes").setAttribute("data-formid", formId);
                    });
            </text>
        }

                document.getElementById("confirmYes").addEventListener("click", function () {
                    debugger;
                    var formId = this.getAttribute("data-formid");
                    var jam = "deleteForm_" + formId;
                    document.getElementById(jam).submit();
                });

            document.getElementById("confirmNo").addEventListener("click", function () {
                document.getElementById("modal").style.display = "none";
            });
        };
    </script>
}
